@import './base.css';

#app {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding-left: 2rem;
  padding-right: 2rem;
  font-weight: normal;
  /* background: #ffffff;
  background: -webkit-linear-gradient(0deg, #ffffff 0%, #b8b8ba 100%);
  background: linear-gradient(0deg, #ffffff 0%, #b8b8ba 100%); */
}
/* Custom style */

.textBox {
  font-size: 30px;
  color: white;
  text-align: center;
  margin-top: 10px;
  padding-top: 50px;
  margin-bottom: 50px;
  font-weight: 600;
}

.blackContainer {
  height: 550px;
  max-width: 500px;
  background-color: #395B64;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
  box-shadow: 12.2px 17.5px 43px -14px rgba(0, 0, 0, 0.209),
    26.7px 38.2px 91.8px -14px rgba(0, 0, 0, 0.254),
    44.6px 63.8px 151.8px -14px rgba(0, 0, 0, 0.264),
    64.1px 91.6px 233.7px -14px rgba(0, 0, 0, 0.262),
    80.3px 114.8px 339.2px -14px rgba(0, 0, 0, 0.253),
    93px 133px 445px -14px rgba(0, 0, 0, 0.24);
}

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inputField {
  border-radius: 10px;
  background-color: #E7F6F2;
  width: 350px;
  height: 50px;
  border-width: 0ch;
  color: #2d2e36;
  margin: 10px;
  padding-left: 15px;
}

::placeholder {
  color: #2d2e36;
  padding-left: 15px;
  font-weight: 300;
}

.submitBtn {
  border-radius: 10px;
  border-width: 0ch;
  background-color: #a5c9ca;
  width: 350px;
  height: 50px;
  margin: 10px;
  text-align: left;
  padding-left: 15px;
  color: #2d2e36;
}
.submitBtn:hover {
  background-color: #84a0a1;
}
.loginQues {
  margin-left: 20px;
  color: #ffffff;
  font-weight: 300;
}

.todoContainer {
  margin-bottom: 200px;
  max-height: 410px;
  min-height: auto;
  box-shadow: 12.2px 17.5px 43px -14px rgba(0, 0, 0, 0.209),
    26.7px 38.2px 91.8px -14px rgba(0, 0, 0, 0.254),
    44.6px 63.8px 151.8px -14px rgba(0, 0, 0, 0.264),
    64.1px 91.6px 233.7px -14px rgba(0, 0, 0, 0.262),
    80.3px 114.8px 339.2px -14px rgba(0, 0, 0, 0.253),
    93px 133px 445px -14px rgba(0, 0, 0, 0.24);
}

.columnContainer {
  /* flex-direction: column; */
  margin-top: 50px;
  margin-left: 80px;
  /* width: 500px; */
}
.addtodoContainer {
  box-shadow: 12.2px 17.5px 43px -14px rgba(0, 0, 0, 0.209),
    26.7px 38.2px 91.8px -14px rgba(0, 0, 0, 0.254),
    44.6px 63.8px 151.8px -14px rgba(0, 0, 0, 0.264),
    64.1px 91.6px 233.7px -14px rgba(0, 0, 0, 0.262),
    80.3px 114.8px 339.2px -14px rgba(0, 0, 0, 0.253),
    93px 133px 445px -14px rgba(0, 0, 0, 0.24);
}

.addbtn {
  border-radius: 10px;
  border-width: 0ch;
  color: #2d2e36;
  background-color: #a5c9ca;
}
.addbtn:hover {
  background-color: #84a0a1;
}
.statusContainer {
  box-shadow: 12.2px 17.5px 43px -14px rgba(0, 0, 0, 0.209),
    26.7px 38.2px 91.8px -14px rgba(0, 0, 0, 0.254),
    44.6px 63.8px 151.8px -14px rgba(0, 0, 0, 0.264),
    64.1px 91.6px 233.7px -14px rgba(0, 0, 0, 0.262),
    80.3px 114.8px 339.2px -14px rgba(0, 0, 0, 0.253),
    93px 133px 445px -14px rgba(0, 0, 0, 0.24);
}
.mytodosContainer {
  background-color: #1c1d24;
  border-radius: 10px;
  width: 700px;
  height: 530px;
  margin-left: 600px;
  margin-top: -530px;
}
.boxTitle {
  color: #ffffff;
  font-size: 20px;
  padding-left: 20px;
  padding-top: 20px;
}

.box1 {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background-color: #ffaa00;
  /* justify-content: center; */
  color: #151515;
  text-align: center;
  padding: 10px;
  font-size: 18px;
}
.box2 {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background-color: #0ee12e;
  /* justify-content: center; */
  color: #151515;
  text-align: center;
  padding: 10px;
  font-size: 18px;
}

.statusText {
  color: #e8f1f4;
  margin-left: 20px;
  margin-top: 10px;
  font-weight: 500;
  font-size: 18px;
}

/* a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
} */
/* 
@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
