@import './base.css';

#app {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding-left: 2rem;
  padding-right: 2rem;
  font-weight: normal;
  /* background: #ffffff;
  background: -webkit-linear-gradient(0deg, #ffffff 0%, #b8b8ba 100%);
  background: linear-gradient(0deg, #ffffff 0%, #b8b8ba 100%); */
}
.body {
  background: #2b2f77;
  background: -webkit-linear-gradient(
    0deg,
    #2b2f77 0%,
    #141852 50%,
    #070b34 100%
  );
  background: linear-gradient(0deg, #2b2f77 0%, #141852 50%, #070b34 100%);
}
/* Custom style */

.textBox {
  font-size: 30px;
  color: white;
  text-align: center;
  margin-top: -50px;
  margin-bottom: 50px;
  font-weight: 600;
}

.blackContainer {
  height: 550px;
  width: 500px;
  background-color: #004080;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
  box-shadow: 6.2px 12px 29.9px rgba(0, 0, 0, 0.033),
    11.4px 22.2px 63.9px rgba(0, 0, 0, 0.052),
    16.1px 31.4px 105.8px rgba(0, 0, 0, 0.068),
    21.3px 41.5px 162.8px rgba(0, 0, 0, 0.089),
    29.5px 57.4px 236.3px rgba(0, 0, 0, 0.122),
    55px 107px 310px rgba(0, 0, 0, 0.19);
}

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inputField {
  border-radius: 10px;
  background-color: #2d2e36;
  width: 350px;
  height: 50px;
  border-width: 0ch;
  color: #ffffff;
  margin: 10px;
  padding-left: 15px;
}

::placeholder {
  color: #ffffff;
  padding-left: 15px;
  font-weight: 300;
}

.submitBtn {
  border-radius: 10px;
  border-width: 0ch;
  background-color: #1d2378;
  width: 350px;
  height: 50px;
  margin: 10px;
  text-align: left;
  padding-left: 15px;
  color: #ffffff;
}
.submitBtn:hover {
  background-color: #141852;
}
.loginQues {
  margin-left: 20px;
  color: #ffffff;
  font-weight: 300;
}

.todoContainer {
  margin-bottom: 200px;
  max-height: 410px;
  min-height: auto;
  box-shadow: 6.2px 12px 29.9px rgba(0, 0, 0, 0.033),
    11.4px 22.2px 63.9px rgba(0, 0, 0, 0.052),
    16.1px 31.4px 105.8px rgba(0, 0, 0, 0.068),
    21.3px 41.5px 162.8px rgba(0, 0, 0, 0.089),
    29.5px 57.4px 236.3px rgba(0, 0, 0, 0.122),
    55px 107px 310px rgba(0, 0, 0, 0.19);
}

.columnContainer {
  /* flex-direction: column; */
  margin-top: 50px;
  margin-left: 80px;
  /* width: 500px; */
}
.addtodoContainer {
  box-shadow: 6.2px 12px 29.9px rgba(0, 0, 0, 0.033),
    11.4px 22.2px 63.9px rgba(0, 0, 0, 0.052),
    16.1px 31.4px 105.8px rgba(0, 0, 0, 0.068),
    21.3px 41.5px 162.8px rgba(0, 0, 0, 0.089),
    29.5px 57.4px 236.3px rgba(0, 0, 0, 0.122),
    55px 107px 310px rgba(0, 0, 0, 0.19);
}

.addbtn {
  border-radius: 10px;
  border-width: 0ch;
  background-color: #141852;
}
.addbtn:hover {
  background-color: #1d2378;
}
.statusContainer {
  box-shadow: 6.2px 12px 29.9px rgba(0, 0, 0, 0.033),
    11.4px 22.2px 63.9px rgba(0, 0, 0, 0.052),
    16.1px 31.4px 105.8px rgba(0, 0, 0, 0.068),
    21.3px 41.5px 162.8px rgba(0, 0, 0, 0.089),
    29.5px 57.4px 236.3px rgba(0, 0, 0, 0.122),
    55px 107px 310px rgba(0, 0, 0, 0.19);
}
.mytodosContainer {
  background-color: #1c1d24;
  border-radius: 10px;
  width: 700px;
  height: 530px;
  margin-left: 600px;
  margin-top: -530px;
}
.boxTitle {
  color: #ffffff;
  font-size: 20px;
  padding-left: 20px;
  padding-top: 20px;
}

.box1 {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background-color: #ffbf00;
  /* justify-content: center; */
  color: #151515;
  text-align: center;
  padding: 10px;
  font-size: 18px;
}
.box2 {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background-color: #0ee12e;
  /* justify-content: center; */
  color: #151515;
  text-align: center;
  padding: 10px;
  font-size: 18px;
}

.statusText {
  color: #e8f1f4;
  margin-left: 20px;
  margin-top: 10px;
  font-weight: 500;
  font-size: 18px;
}

/* a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
} */
/* 
@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
